# data
asyncpg
greenlet
pandas
pgvector
psycopg2-binary
sqlalchemy[asyncio]

# notebook
jupyter
jupyterlab

# llm
llama-cpp-python
llama-index
llama-index[local_models]
llama-index[postgres]
multidict
transformers