# data
pandas
psycopg2-binary
pgvector
asyncpg
sqlalchemy[asyncio]
greenlet

# notebook
jupyter
jupyterlab

# llm
llama-cpp-python
llama-index
llama-index[local_models]
llama-index[postgres]
multidict
transformers